[Unit]
Description=This is to start the mateix watch script.

[Service]
Type=notify
ExecStart=/usr/bin/mateixWatch

[Install]
WantedBy=multi-user.target
