[Unit]
Description=Start the mateix watch script.

[Service]
Type=notify
ExecStart=/usr/bin/mateixWatch start
TimeoutSec=infinity
KillMode=process

[Install]
WantedBy=multi-user.target
